{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h2>Edit Rep Details: {{ salesrep_name }}: {{ salesrep_id }}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="payout">Payout %:<font color=red> Currently = {{ details_payout }}%</label></font>
					<input type ="int" maxlength="3" class="form-control" name="payout"placeholder= {{ details_payout }}>
				</div>

					<label for="sub_reps">Sub-Reps (Y/N): <font color=red> Currently= {{ details_sub_reps }}</label></font>
					<div class="radio">
					  <label>
					    <input type="radio" name="sub_reps" id="sub_reps" value="yes">Yes
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="sub_reps" id="sub_reps" value="no">No
					  </label>
					</div>

					<label for="contractor">Contractor (Y/N): <font color=red> Currently= {{ details_contractor }}</label></font>
					<div class="radio">
					  <label>
					    <input type="radio" name="contractor" id="contractor" value="yes">Yes
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="contractor" id="contractor" value="no">No
					  </label>
					</div>
					
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Update Details</button>
				</div>
			</form>
		</div>
	</div>
	
{% endblock %}
