<div class="row top-menu">
	<div class="col-md-6">
		<div class="row top-menu">
		<div class="col-md-6">
			<a href="{{url_for('showSalesReps')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Sales Reps
			</a>
		
		</div>
		<div class="center">
					<p><a href="{{url_for('showLogin')}}">
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a></p>
		
		</div>
		<div class="right">
					<p><a href="{{url_for('gdisconnect')}}">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a></p>
		
		</div>
</div>